
$color-minor: #9b9b9b;
$color-error: #ff6347;

$google-color: #3b9888;
$facebook-color: #3b5998;
$color-main: #00ab52;
$gray: #b2b3b3;
//$gray: #dbe4ed;
$main-text-color: #4d5151;
//$error-color: #C73B32;
$error-color: #BD3D34;

