.alter-signin {
  text-transform: uppercase;
  margin: 15px 0 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.alter-signin__google {
  color: $google-color;
}
.alter-signin__facebook {
  color: $facebook-color;
}
.alter-signin__link {
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  line-height: 20px;
  font-weight: bold;
}
.alter-signin__logo {
  width: 15px;
  margin-right: 5px;
}
